[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
environs = {version = "==8.0.0", extras = ["django"]}
djangorestframework = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "==5.3.1"
uritemplate = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.9"
